force-app/main/default/flows/Handle_Sitting.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Escalate_State</name>
        <label>Escalate State</label>
        <locationX>511</locationX>
        <locationY>632</locationY>
        <assignmentItems>
            <assignToReference>Active_Patient_State.Current_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Escalated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Patient_State</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Readjust_State</name>
        <label>Readjust State</label>
        <locationX>515</locationX>
        <locationY>490</locationY>
        <assignmentItems>
            <assignToReference>Active_Patient_State.Current_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Readjust</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Patient_State</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_State</name>
        <label>Update State</label>
        <locationX>202</locationX>
        <locationY>565</locationY>
        <assignmentItems>
            <assignToReference>Active_Patient_State.Time_in_Position__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lastmotion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Current_State</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_State_From_Active</name>
        <label>Update State From Active</label>
        <locationX>520</locationX>
        <locationY>85</locationY>
        <assignmentItems>
            <assignToReference>Active_Patient_State.Orientation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sitting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Active_Patient_State.Time_in_Position__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lastmotion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Patient_State</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_State_from_Sitting</name>
        <label>Update State from Sitting</label>
        <locationX>520</locationX>
        <locationY>228</locationY>
        <assignmentItems>
            <assignToReference>Active_Patient_State.Orientation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sitting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Active_Patient_State.Time_in_Position__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lastmotion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Patient_State</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Handle_Orientation</name>
        <label>Handle Orientation</label>
        <locationX>196</locationX>
        <locationY>217</locationY>
        <defaultConnector>
            <targetReference>Update_State</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue Sitting</defaultConnectorLabel>
        <rules>
            <name>Active_to_Sitting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Active_Patient_State.Orientation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_State_From_Active</targetReference>
            </connector>
            <label>Active to Sitting</label>
        </rules>
        <rules>
            <name>Laying_to_Sitting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Active_Patient_State.Orientation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Laying</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_State_from_Sitting</targetReference>
            </connector>
            <label>Laying to Sitting</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Current_State</name>
        <label>Update Current State</label>
        <locationX>347</locationX>
        <locationY>567</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Readjust</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Active_Patient_State.Time_in_Position__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Active_Patient_State.Current_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Readjust_State</targetReference>
            </connector>
            <label>Readjust</label>
        </rules>
        <rules>
            <name>Escalate</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Active_Patient_State.Time_in_Position__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>80.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Active_Patient_State.Current_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Readjust</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Active_Patient_State.Current_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Escalate_State</targetReference>
            </connector>
            <label>Escalate</label>
        </rules>
    </decisions>
    <interviewLabel>Handle Sitting {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Handle Sitting</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Patient_State</name>
        <label>Get Patient State</label>
        <locationX>204</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Handle_Orientation</targetReference>
        </connector>
        <filters>
            <field>PatientId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>patientId</elementReference>
            </value>
        </filters>
        <object>Patient_State__c</object>
        <outputReference>Active_Patient_State</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Current_State__c</queriedFields>
        <queriedFields>Time_in_Position__c</queriedFields>
        <queriedFields>Orientation__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Patient_State</name>
        <label>Update Patient State</label>
        <locationX>802</locationX>
        <locationY>372</locationY>
        <inputReference>Active_Patient_State</inputReference>
    </recordUpdates>
    <startElementReference>Get_Patient_State</startElementReference>
    <status>Active</status>
    <variables>
        <name>Active_Patient_State</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_State__c</objectType>
    </variables>
    <variables>
        <name>lastmotion</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>orientation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
